.todo-page{
  padding: 20px;
  box-sizing: border-box;
}

.todo-header{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border: solid 1px #413f3f;
  padding-right: 10px;
  border-radius: 5px;
}

.todo-header view{
  display: flex;
  align-items: center;
}

.todo-header input{
  display: flex;
  border: none;
  background-color: transparent;
  width: 100%;
}

.todo-list{
  margin-top: 10px;
}
